<footer class="footer-distributed">
    <div class="footer-left">
        <h3>        
            <div class="nav-logo">
                <img src="/logo-branca.png" alt="LogoFormat">
            </div>
        </h3>
        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Sobre</a>
            |
            <a href="#">Contato</a>
        </p>
        <p class="footer-company-name">Copyright © 2025 <strong>Format Soluções</strong>
        Todos os direitos reservados</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>R. Gen. Osório, 189 - sala 03 - Centro, 38700-114</span></p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>(34) 99225-7630</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre a empresa</span>
            <strong>Format Soluções</strong> Suporte e serviços para computadores em Patos de Minas, Minas Gerais
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
